html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}
body{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
#app{
  width: 100%;
  height: 100%;
}
.app-container{
  width: 100%;
  height: 100%;
}
.scroller-container{
  position: absolute;
  top:44px;
  left: 0;
  right: 0;
  bottom:0;
}

.plugin-name {
  margin: 0;
  padding-top: 60px;
  text-align: center;
  color: #666;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 10px;
}
.for-vue {
  text-align: center;
  color: #666;
  margin-bottom: 40px;
}

.plugin-name,
.for-vue-js {
  font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

.row {
  display: flex;
  height: 30px;
  padding: 10px 0 10px 15px;
  font-size: 16px;
  line-height: 30px;
  color: #444;
  background-color: #fff;
  justify-content:space-between;
}
.row .right{
  display: flex;
  align-items: center;
}
.grey-bg {
  background-color: #eee;
}
.arrow-right {
  height: 16px;
  margin-right: 15px;
  margin-left: 5px;
}

.info-position {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 12px;
  line-height: 50px;
  border-radius: 25px;
  background-color: rgba(0,0,0,0.4);
  text-align: center;
}